flow.json
[
  {
    "id": "2c41a2bd.aa36ae",
    "type": "tab",
    "label": "Data storage flow"
  },
  {
    "id": "6c6622f5.06be2c",
    "type": "mqtt in",
    "z": "2c41a2bd.aa36ae",
    "name": "",
    "topic": "node/#",
    "qos": "2",
    "datatype": "base64",
    "broker": "29fba84a.b2af58",
    "nl": false,
    "rap": false,
    "inputs": 0,
    "x": 290,
    "y": 180,
    "wires": [
      [
        "ebe183de73bf666a"
      ]
    ]
  },
  {
    "id": "0791b386fd8b7092",
    "type": "http request",
    "z": "2c41a2bd.aa36ae",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "localhost:8001/api/v1/data",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [
      {
        "keyType": "other",
        "keyValue": "payload",
        "valueType": "msg",
        "valueValue": "payload"
      }
    ],
    "x": 690,
    "y": 180,
    "wires": [
      [
        "9d9c9e1aad241528"
      ]
    ]
  },
  {
    "id": "9d9c9e1aad241528",
    "type": "debug",
    "z": "2c41a2bd.aa36ae",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 900,
    "y": 180,
    "wires": []
  },
  {
    "id": "ebe183de73bf666a",
    "type": "function",
    "z": "2c41a2bd.aa36ae",
    "name": "MQTT to JSON",
    "func": "msg.payload = JSON.stringify({\n    topic: msg.topic,\n    value: msg.payload,\n});\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 480,
    "y": 180,
    "wires": [
      [
        "0791b386fd8b7092"
      ]
    ]
  },
  {
    "id": "29fba84a.b2af58",
    "type": "mqtt-broker",
    "name": "",
    "broker": "127.0.0.1",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "sessionExpiry": ""
  }
]
